.mr-section-portfolio{
  background: #fff;
  padding: 50px 0;

  .mr-title{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: normal;
    font-size: 61px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    color: #0B0B0B;
  }

  .mr-portfolio-slider{
    margin-top: 90px;
  }
}
