<section class="mr-section-about">
    <div class="mr-top-decoration">
        <div class="mr-left-decoration">
            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="11.1987" cy="10.5" r="10" stroke="white"/>
            </svg>
            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="11.1987" cy="10.5" r="10" stroke="white"/>
            </svg>
            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="11.1987" cy="10.5" r="10" stroke="white"/>
            </svg>
        </div>
        <div class="mr-right-decoration">
            <svg width="33" height="2" viewBox="0 0 33 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="0.484009" y1="0.603577" x2="32.3784" y2="0.603577" stroke="white"/>
            </svg>
            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="0.853798" y1="0.436303" x2="20.1675" y2="19.75" stroke="white"/>
                <line x1="20.1675" y1="1.14341" x2="0.853812" y2="20.4571" stroke="white"/>
            </svg>
        </div>
    </div>
    <div class="row">
        <div class="columns large-5">
            <img class="mr-about-img mr-about-img__sk" src="{{root}}/assets/img/about-us-img-sk.svg" alt="O Nás">
        </div>
        <div class="columns large-7">
            <div class="mr-description">
                <p>
                    Sme tím mladých špecialistov z Ukrajiny a naším cieľom je vytvárať dizajn a webové stránky.
                </p>
                <p>
                    Rozvíjať ich tak, aby sa potenciálni užívatelia stali vašimi skutočnými zákazníkmi.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /.mr-section-about -->
