<footer class="mr-footer">
    <section class="mr-contact">
        <div class="row">
            <div class="columns large-6">
                <h2 class="mr-title">
                    Neváhajte a<br>
                    pošlite nám
                </h2>
            </div>

            <div class="columns large-6">
                <div class="mr-contact-methods">
                    <a href="mailto:mur.designstudio@gmail.com">mur.designstudio@gmail.com</a>
                    <a class="mr-phone" href="tel:0999876576">0999876576</a>
                </div>
            </div>
        </div>
    </section>
    <section class="mr-section-footer">
        <img src="{{rooot}}assets/img/footer-code.svg" alt="mur design studio">
    </section>
</footer>
<!-- /.ba-footer -->
